.answer
  p = 47px
  position: absolute
  top: 150px
  width: w = 770px - p*2
  left: 50%
  margin-left: -((w + p*2)/2)px
  height: auto
  margin-bottom: 250px
  background: #fff
  z-index: 15
  padding: p
  
  text-align: center
  
  color: BLACK
  
  header
    font-family: "Lava 3", "Lava Pro", Georgia, serif;
    font-weight: 800;
    font-size: 33px
    line-height: 42px
    
    margin-top: 15px
      

  .answer__icon
    height: 40px
    position: relative
    width: 125px
    margin: 0 auto
    
    hr
      background: GRAY
      height: 1px
      width: 100%
      position absolute
      top: 19px
    
    .answer__img
      padding: 0px 10px;
      background: #fff;
      margin: 0 auto;
      position: relative;
      z-index: 2;        
    
  
  button
    border: none
    background: none
    outline: none
    padding: 0
    margin: 0
    
    border: 3px solid BLACK
    display: block
    height: 75px
    width: 264px
    margin: 0 auto
    margin-top: 60px
    font-size: 17px
    font-weight: bold
    line-height: 65px
    
    disableselect()

  .answer__text
    
    margin-top: 20px
    
    font-family: "Lava 1", serif;
    text-align: left

    font-size: 15px
    line-height: 22px

    p
      margin-top: 15px
      
      &:last-child
        padding-bottom: 0px
        border: none