clearfix()
  zoom 1
  &:after
  &:before
    content ""
    display table
  &:after
    clear both

disableselect()
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;


BLACK = #232323
GRAY = #E5E5E5
LIGHTGRAY = #E1E1E1

.brides-portal
  position: fixed
  left: 0
  right: 0
  top: 0
  bottom: 0
  overflow-y: scroll
  z-index: 10
  
  .mask
    position: fixed
    left: 0
    right: 0
    top: 0
    bottom: 0
    background: rgba(0, 0, 0, 0.7)

  hr
    margin: 0 auto
    padding: 0
    border: 0

  button
    &:hover
      opacity: 0.5
  
  
  @import 'option.styl'
  @import 'answer.styl'
  
.brides
  padding-bottom: 50px
  position: relative
  
  button
    &:hover
      opacity: 0.5
  
  hr
    margin: 0 auto
    padding: 0
    border: 0
  
  @import 'intro.styl'
  @import 'quiz.styl'
  @import 'result.styl'
