
.intro
  padding-top: 80px
  text-align: center
  color: BLACK
  
  h1
    font-size: 50px
    font-weight: bold
    line-height: 1
    width: 690px
    margin: 0 auto
      
  .description
    font-family: "Lava 1", "LavaPro", serif; 
    font-size: 25px
    line-height: 36px
    
    width: 850px
    margin: 0 auto
    margin-top: 30px
    

  
  .credit
    font-family: "Lava 1", "LavaPro", serif; 
    width: 725px
    margin: 0 auto
    font-size: 17px
    line-height: 21px
    
    margin-top: 35px
    
    a
      text-decoration: none
      border-bottom: 1px solid BLACK

    em
      font-style: italic
  
  .whatshappened
    width: 230px
    height: 58px
    border: 1px solid #4f4f4f
    color: #4f4f4f
    line-height: 59px
    font-weight: bold
    
    margin: 0 auto
    margin-top: 50px
    margin-bottom: 50px
    
  p
    font-family: "Lava 1", "LavaPro", serif; 
    font-size: 17px
    line-height: 25px
    text-align: left
    
    width: 670px
    margin: 0 auto
    margin-bottom: 18px
    
    &:last-child
      margin-bottom: 0px
  

  
  .rules
    margin-top: 60px
    font-size 24px
    font-weight: bold
  
  ol
    width: 670px
    margin: 0 auto
    margin-top: 25px
    display: block
    list-style: none
    counter-reset: numList
    
    clearfix()
    
    li
      font-family: "Lava 1", "LavaPro", serif; 
      margin-right: 44px;
      float: left;
      text-align: left
      
      padding-left: 20px
      
      position: relative
      margin-top: 25px
      padding-bottom: 25px
      border-bottom: 1px solid GRAY
      
      font-size: 17px
      line-height: 25px
      
      ul
        margin-top: 10px
        
        li
          margin-top: 5px
          padding-bottom: 0px
          border: none

          &:before
            counter-increment: none;
            content: "—";
            float: none
      

      &:before
        counter-increment: numList;
        content: counter(numList) ". ";
        
        float: left;
        position: absolute;
        left: 0px;
        top: 0px;
        
        // font-size: 12px;
        // font-weight: bold
        // text-align: center;
        // color: #000;
        // line-height: 20px;
        
        width: 20px; 
        height: 20px;
        color: BLACK
      

  
  button
    padding: 0
    margin: 0
    outline: 0
    background: none
    cursor: pointer
    
    font-size: 24px
    font-weight: bold

    width: 239px
    height: 63px
    
    margin-top: 55px
    border: 3px solid BLACK
    