.option
  p = 47px
  position: absolute
  top: 150px
  width: w = 770px - p*2
  left: 50%
  margin-left: -((w + p*2)/2)px
  margin-bottom: 200px
  height: auto
  background: #fff
  z-index: 15
  padding: p
  
  text-align: center
  
  color: BLACK
  
  button
    border: none
    background: none
    outline: none
    padding: 0
    margin: 0
    
    disableselect()
    
    &.disabled
      opacity: 0
      pointer-events: none
    
    &.left
      position: absolute
      left: p
      top: 92px
      font-size: 25px
    
    &.right
      position: absolute
      right: p
      top: 92px
      font-size: 25px
    
    &.close
      position: absolute;
      right: 10px;
      top: -5px;
      font-size: 35px;
      color: #999;
      padding: 15px;
      
      &:hover
        color: BLACK
    
    &.check-answer
      border: 3px solid BLACK
      display: block
      height: 75px
      width: 264px
      margin: 0 auto
      margin-top: 60px
      font-size: 17px
      font-weight: bold
      line-height: 65px
  
  .option__photo
    box_size = 119px
    position: absolute
    width: box_size
    height: box_size
    top: -(box_size/2)px
    left: 50%
    margin-left: -(box_size/2)px 
    
    .option__photo__border
      margin: 0 auto
      
      width: 119px
      height: 119px
      border-radius: 100%
      border: 1px solid GRAY
      background: #fff
      
      position: relative
      
      img
        margin: 0
        padding: 0
        display: block
        position: absolute
        top: 10px
        left: 10px

  .option__name
    width: 470px
    margin: 0 auto
    margin-top: 40px
    
    font-family: "Lava 3", "Lava Pro", Georgia, serif;
    font-weight: 800;
    font-size: 33px
    line-height 42px
    
    color: #000
    
  .option__country
    font-family: "Lava 1", serif;
    font-size: 22px
    color: #4c4c4c
    font-style: italic
    
    margin-top: 10px

  dl
    width: 570px
    margin: 0 auto
    margin-top: 25px
    text-align: left
    
    padding-top: 35px
    padding-bottom: 30px
    border-top: 1px solid GRAY
    border-bottom: 1px solid GRAY
    
    clearfix()
    
    div
      margin-bottom: 10px;
      clearfix()
      
      &:last-child
        margin-bottom: 0px
    
      dt
        float: left;
        clear: left;
        width: 155px
        font-size: 13px
        color: #999
        
      
      dd
        float: left;
        width: 415px;
        
        font-family: "Lava 1", serif;
        font-size: 15px
        line-height: 22px
        
        position: relative;
        top: -2px;

        &:last-of-type
          margin-bottom: 0px
    

  .option__text
    font-family: "Lava 1", serif;
        
    text-align: left

    font-size: 15px
    line-height: 22px

    p
      margin-top: 25px
      padding-bottom: 25px
      border-bottom: 1px solid GRAY
      
      &:last-child
        padding-bottom: 0px
        border: none