.quiz
  text-align: center
  font-family: "Formular", sans-serif
  
  .subheader
    font-family: formular;
    font-weight: bold 
    font-size: 11px
    text-transform: uppercase
    color: #999999
  
  header
    margin-top: 15px
    
    font-size: 21px
    line-height: 25px
    color: BLACK
    font-weight: bold
  
  hr.small
    margin-top: 45px
    
    width: 140px
    height: 1px
    background: GRAY
    border: none
  
  .pagination
    margin-top: 28px
    
    font-family: "Lava 1", "LavaPro", serif;
    font-size: 36px
    font-style: italic
    color: BLACK
  
  .bio
    
    .bio__photo
      margin-top: 32px
      height: 120px
      
      hr
        height: 1px
        background: GRAY
        border: none
        position: relative
        top: 60px
      
      .photo-border
        margin: 0 auto
        
        width: 119px
        height: 119px
        border-radius: 100%
        border: 1px solid GRAY
        background: #fff
        
        position: relative
        
        img
          margin: 0
          padding: 0
          display: block
          position: absolute
          top: 10px
          left: 10px
      

    .bio__name
      margin-top: 5px
      font-family: "Lava 3", "Lava Pro", Georgia, serif;
      font-weight: 800;
      font-size: 33px
      color: BLACK

    .bio__year
      font-family: "Lava 1", serif;
      font-size: 16px
      color: #4c4c4c
      font-style: italic
      
    .bio__desc
      font-family: "Lava 1", serif;
      
      margin: 0 auto
      margin-top: 30px
      
      font-size: 16px
      line-height: 22px
      
      width: 600px
      color: BLACK
    
    hr.small
      height: 2px
      background: BLACK
      width: 50px
    
    dl
      width: 600px
      margin: 0 auto
      margin-top: 54px
      text-align: left
      
      clearfix()
      
      dt
        float: left;
        clear: left;
        width: 180px
        margin-bottom: 17px
        font-size: 13px
        color: #999
      
      dd
        float: left;
        width: 420px;
        margin-bottom: 17px
        
        font-family: "Lava 1", serif;
        font-size: 16px
        line-height: 22px
        
        position: relative;
        top: -2px;
    

    blockquote
      margin: 0 auto
      margin-top: 50px
      padding: 0
      
      width: 600px
      
      div
        padding = 50px
        width: (599 - padding*2)px
        border: 1px dashed GRAY
        padding: 30px padding 40px padding
        
        font-family: "Lava 1", serif;
        font-style: italic;
        font-size: 16px
        line-height: 22px
      
      footer
        position: relative
        top: -23px
        
        p
          font-size: 13px
          line-height: 18px
          
          &:nth-of-type(1)
            margin-top: 5px
            font-weight: bold
          
          &:nth-of-type(2)
            color: #999
            
      
        

  .map
    
    header
      width: 200px
      background: BLACK
      height: 50px
      color: #fff
      margin: 0 auto
      
      font-family: "Lava 3", "Lava Pro", Georgia, serif;
      font-weight: 800;
      font-size: 21px
      line-height: 49px
      
      position: relative
      top: 25px
      
    .map__image
      border: 1px solid #D8D8D8
      
      background: url('http://cdn-s-static.arzamas.academy/x/334-school-w9gxEU0N22MfiGAcrMoZs7TAa3/1137/dist/assets/map.png')
      background-size: auto 700px
      background-repeat: no-repeat
      background-position: center center
      
      height: 700px
      
      .map__inner
        margin: 0 auto
        height: 700px
        width: 960px
        
        position: relative
        
        .map__label
          font-size: 10px
          line-height: 10px
          position: absolute
        
        .map__sidebar
          width: 340px
          height: 617px
          border: 1px solid GRAY
          
          position: absolute
          top: 43px
          left: 0px
          
          background: #fff
          
          &.right
            left: auto
            right: 0px
          

          .sidebar__header
            width: 190px
            margin: 0 auto
            margin-top: 40px
            
            hr
              background: #D2E1CB
              height: 1px
            
            span
              font-family: "Lava 3", "Lava Pro", Georgia, serif;
              font-weight: 800;
              font-size: 21px
              color: BLACK
              padding: 0px 12px
              background: #fff
              
              position: relative
              top: -16px
          

          .sidebar__text
            text-align: left
            padding: 0 35px
            
            p
              font-size: 13px
              line-height: 19px
              font-family: formular
              margin-bottom: 19px
              width: auto !important
            
        .pin
          position: absolute
          background: none
          border: none
          outline: none
          padding: 0
          margin: 0
          cursor: pointer
          width: 45px
          height: 75px
          
          cursor: pointer
          
          &:hover
            opacity: 1
            
            .pinhead
              top: -4px
          
          .line
            bottom: 0px;
            position: absolute;
            left: 20px;
          
          .pinhead
            position: absolute
            top: 0px
            left: 0px
            background: BLACK
            border-radius: 100%
            width: 47px
            height: 47px
            
            transition: top 100ms
            
            img
              position: absolute
              top: 2px
              left: 2px