.result
  padding-top: 40px
  text-align: center
  font-family: "Formular", sans-serif
  
  header
    header
      margin-top: 15px
      font-size: 21px
      line-height: 25px
      color: BLACK
      font-weight: bold

    .subheader
      font-family: formular;
      font-weight: bold 
      font-size: 11px
      text-transform: uppercase
      color: #999999
    

  .share
    width: 733px
    // height: 428px
    margin: 0 auto
    margin-top: 40px
    padding: 55px 0px 40px 0px
    border: 1px solid #E5E5E5
    
    .portraits
      // margin-top: 55px
      
      div
        display: inline-block
        margin-right: 13px
        width: 60px
        height: 60px
        
        &:last-child
          margin-right: 0px
        
        span
          display: inline-block
          width: 60px
          height: 60px
          border-radius: 100%
          background: #E5E5E5
    
    header
      font-size: 36px
      line-height: 38px
      font-family: "Lava 3", "Lava Pro", Georgia, serif;
      font-weight: 800;
      color: BLACK
      
      width: 600px
      margin: 0 auto
      margin-top: 30px
    
    .subheader
      font-family: "Lava 1", serif;
      font-size: 21px
      line-height: 26px
      color: BLACK
      font-style: italic
      
      width: 430px
      margin: 0 auto
      margin-top: 25px
      
    hr
      width: 30px
      height: 1px
      margin: 0 auto
      margin-top: 30px
      background: BLACK
    
    p
      margin-top: 30px
      font-size: 13px
      
    ul
      width: 100%
      margin-top: 22px
      
      li
        display: inline-block
        height: 35px
        width: 50px
        border-right: 1px solid #E5E5E5
        
        &:last-child
          border: none
        
        button
          border: none
          background: none
          outline: none
          margin: 0
          padding: 0
          
          height: 35px
          width: 50px
          cursor: pointer
          
          img
            vertical-align: bottom
          



  .dynasty
    margin-top: 100px
    padding-bottom: 100px
    
    header
      width: 650px
      margin: 0 auto
      
      hr
        background: #D2E1CB
        height: 1px
      
      span
        font-family: "Lava 3", "Lava Pro", Georgia, serif;
        font-weight: 800;
        font-size: 28px
        color: BLACK
        padding: 0px 25px
        background: #fff
        
        position: relative
        top: -20px
              
    
    p.subheader
      font-size: 15px
      font-family: "Lava 1", serif;
      font-style: italic
      color: #666666
      margin-top: -18px
      
      width: 750px;
      margin: 0 auto;
    
    hr
      margin-top: 40px
      height: 1px
      background: GRAY

    .dynasty__scheme
      width: 990px
      height: 900px
      // border-bottom: 1px solid #000
      margin: 0 auto
      
      position: relative
      
      .crown
        position: absolute
        width: 25px
        height: 33px
        
        left: 730px
        top: 46px
            
        z-index: 3

      .hl
        position: absolute
        height: 1px
        background: #999999
        
        &#hl-1
          width: 40px
          top: 103px
          left: 180px
        
        &#hl-2
          width: 99px;
          top: 233px;
          left: 152px;
        
        &#hl-3
          width: 377px
          top: 103px;
          left: 555px
        
        &#hl-4
          width: 99px;
          top: 423px;
          left: 555px;
          
        &#hl-5
          width: 0px
          // width: 40px
          left: 278px
          top: 281px
        
        &#hl-6
          width: 0px
          // width: 40px
          left: 887px
          top: 471px
        
        &#hl-7
          width: 0px
          // width: 40px
          left: 85px
          top: 281px
        
        &#hl-8
          width: 0px
          // width: 40px
          left: 683px
          top: 471px
        
        &#hl-9
          width: 0px
          background: none
          border-top: 1px dotted #999999
          // width: 42px
          left: 485px
          top: 471px

        &#hl-10
          opacity: 0
          width: 99px
          top: 423px
          left: 357px
                  
        &#hl-11
          // width: 40px
          width: 0px
          left: 287px
          top: 471px
                                    
        &#hl-12
          width: 0px
          // width: 40px
          left: 133px
          top: 673px
                                    
        &#hl-13
          // width: 339px
          width: 0px
          left: 336px
          top: 673px
                                    
      .vl
        position: absolute
        width: 1px
        background: #999999
        
        &#vl-1
          height: 130px
          top: 103px
          left: 200px

        &#vl-2
          height: 20px;
          top: 233px;
          left: 151px;

        &#vl-3
          height: 20px;
          top: 233px;
          left: 250px;

        &#vl-4
          height: 320px;
          top: 103px;
          left: 605px;

        &#vl-5
          height: 340px;
          top: 103px;
          left: 858px;

        &#vl-6
          height: 20px;
          top: 423px;
          left: 555px;

        &#vl-7
          height: 20px;
          top: 423px;
          left: 654px;

        &#vl-8
          height: 0px;
          // height: 172px;
          top: 472px;
          left: 908px;

        &#vl-9
          opacity: 0;
          height: 20px;
          top: 423px;
          left: 356px;

        &#vl-10
          opacity: 0;
          height: 20px;
          top: 423px;
          left: 456px;

        &#vl-11
          height: 0px;
          // height: 172px;
          top: 472px;
          left: 702px;

        &#vl-12
          height: 0px;
          // height: 172px;
          top: 472px;
          left: 307px;

        &#vl-13
          // height: 363px;
          height: 0px;
          top: 282px;
          left: 104px;
        
        &#vl-14
          height: 0px
          // height: 130px
          left: 154px
          top: 673px
                  
        &#vl-15
          // height: 130px
          height: 0px
          left: 511px
          top: 673px
        
      .person
        position: absolute
        width: 85px
        text-align: center
        z-index: 2
        
        .photo
          width: 58px
          height: 58px
          background: none
          border-radius: 100%
          margin: 0 auto
        
        &.dead
          .photo
            -webkit-filter: grayscale(1)
            -moz-filter: grayscale(1)
            filter: grayscale(1)
          
        &.nophoto
          .photo
            background: GRAY
            
        .name
          font-size: 13px
          margin-top: 7px
        
        .year
          font-size: 11px
          color: #999999
          margin-top: 3px
        
        // row 1

        &#ivan-v
          top: 75px
          left: 110px
          
        &#praskovia
          top: 75px
          left: 207px
          
        &#ekaterina-am
          top: 75px
          left: 483px
          
        &#petr-i
          top: 75px
          left: 701px
          
        &#evdokia
          top: 75px
          right: -13px
        
        // row 2
          
        &#klmsh
          opacity: 0
          top: 253px
          left: 15px
        
        &#ekaterina-i
          top: 253px
          left: 110px
          
        &#anna-i
          top: 253px
          left: 207px
          
        &#fridrikh
          opacity: 0
          top: 253px
          left: 305px
          
        // row 3
        &#chirstian
          opacity: 0    
          top: 443px
          left: 216px
      
        &#ioganna
          opacity: 0
          top: 443px
          left: 314px
      
        &#karl-a
          opacity: 0
          top: 443px
          left: 414px
          
          .photo
            background-color: BLACK
      
        &#elizabeth-p    
          top: 443px
          left: 513px
      
        &#anna-p    
          top: 443px
          left: 612px
        
        &#karl-f
          opacity: 0
          top: 443px
          left: 710px
      
        &#alexey-p    
          top: 443px
          left: 816px
      
        &#sks
          opacity: 0
          top: 443px
          right: -13px
        
        // row 4
        &#anna-l
          opacity: 0
          top: 644px
          left: 62px
          
          span
            margin-left: -5px
      
        &#anton
          opacity: 0
          top: 644px
          left: 160px
      
        &#ekaterina-ii
          opacity: 0
          top: 644px
          left: 265px
      
        &#petr-iii
          opacity: 0
          top: 644px
          right: 244px
      
        &#petr-ii
          opacity: 0
          top: 644px
          right: 38px
        
        // row 5
          
        &#ivan-vi
          opacity: 0
          top: 803px
          left: 111px

        &#pavel-i
          opacity: 0
          top: 803px
          left: 469px
          

    .timeline
        opacity: 0
        pointer-events: none

        // margin-top: 65px
        margin-top: 200px
        
        border-top: 1px solid GRAY
        border-bottom: 1px solid GRAY
        height: 67px
        
        position: fixed
        bottom: 0px
        width: 100%
        background: #fff
        z-index: 3
        
        transition: opacity 300ms;
        
        &.static
          position: static
        
        &.visible
          opacity: 1
          pointer-events: auto
        

      .timeline__inner
        width: 789px
        height: 67px
        margin: 0 auto
        position: relative
        
        button
          background: none
          padding: 0
          margin: 0

          width: w = 94px
          position: absolute
          height: 100%
          
          border: 3px solid BLACK
          
          &.disabled
            pointer-events: none
            opacity: 0.2
          
          &.prev
            position: absolute
            left: -(w)px
            

          &.next
            position: absolute
            right: -(w)px
        
        button.prev
          position: absolute
          
      
        ul
          height: 100%
          
          clearfix()
          
          li
            float: left
            display: block
            width: 130px
            position: relative
            height: 100%
            line-height: 65px
            
            p
              position: absolute;
              left: -10px;
              top: 50%;
              font-size: 11px;
              color: #afafaf;
              margin-top: -13px;
              font-family: formular;
              width: auto !important;
            
            span
              width: 1px
              height: 11px
              background: LIGHTGRAY
              position: absolute
              bottom: 0px
              left: 0px
              
              &:nth-child(1)
                position: absolute
                top: 0
        
        .timeline__current
          position: absolute
          top: 0px
          left: 0px
          
          width: auto
          
          height: 100%
          background: rgba(0, 0, 0, 0.05)
          
          border-right: 1px solid #888888
          
          transition: width 250ms;
          
          .timeline__year
            position: absolute
            right: -28px
            top: 21px
            
            div
              font-family: "Lava 1", "LavaPro", serif;
              font-size: 16px
              font-weight: bold
              
              padding: 2px 10px
              background: #fff
              border: 1px solid #999999
              
              

            

          


